<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectAllServlet</servlet-name>
    <servlet-class>com.servlet.SelectAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectSingleServlet</servlet-name>
    <servlet-class>com.servlet.SelectSingleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectByTypeServlet</servlet-name>
    <servlet-class>com.servlet.SelectByTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertPostServlet</servlet-name>
    <servlet-class>com.servlet.InsertPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>com.servlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <servlet-class>com.servlet.DeleteReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertReplyServlet</servlet-name>
    <servlet-class>com.servlet.InsertReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectReplyServlet</servlet-name>
    <servlet-class>com.servlet.SelectReplyServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SelectReply1Servlet</servlet-name>
    <servlet-class>com.servlet.SelectReply1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAllServlet</servlet-name>
    <url-pattern>/SelectAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectSingleServlet</servlet-name>
    <url-pattern>/SelectSingleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectByTypeServlet</servlet-name>
    <url-pattern>/SelectByTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertPostServlet</servlet-name>
    <url-pattern>/InsertPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <url-pattern>/DeleteReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertReplyServlet</servlet-name>
    <url-pattern>/InsertReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectReplyServlet</servlet-name>
    <url-pattern>/SelectReplyServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SelectReply1Servlet</servlet-name>
    <url-pattern>/SelectReply1Servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>